<!DOCTYPE html>
<html lang="en">

{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'ارتباط با ما' %}</title>
    <link rel="stylesheet" href="/static/Css/contact-us.css">
</head>

    <body>

        {% include 'includes/navbars.html' %}
        {% include 'includes/on_loading.html' %}

        <div class="ips-contact-us-white-space"></div>
        <main class="ips-contact-us-main-container">
            <div class="ips-contact-us-img">
                <img src="/static/images/contact-us-bg.jpg">
                <div class="messages-style" id="messages-style"></div>
            </div>

            <div class="ips-contact-us-form-box">

                <p class="ips-contact-us-p">
                    {% blocktranslate %}
                        ما دوست داریم نظر شما در مورد خدمات مشتری، وب سایت یا هر موضوعی که می خواهید با ما به اشتراک
                        بگذارید، بشنویم پس از نظرات و پیشنهادات شما قدردانی خواهد شد
                    {% endblocktranslate %}
                </p>

                <div class="ips-contact-us-form">
                    <label>{% translate 'نام و نام خانوادگی' %}</label>
                    <input name="name" id="contact-name" type="text">
                    <label>{% translate 'شماره تماس' %}</label>
                    <input name="number" id="contact-number" type="number">
                    <label>{% translate 'پیام' %}</label>
                    <textarea name="message" id="contact-message" rows="4"></textarea><br>
                    <button type="button" id="create-contact">{% translate 'ثبت' %}</button>
                </div>
            </div>
        </main>
    </body>



    <script src="/static/Js/navbars.js"></script>
    <script src="/static/Js/contact_us.js"></script>
</html>