<footer class="ips-footer">
    <section class="ips-footer-container">
        <div class="ips-footer-image">
            <img class="ips-footer-image" src="images/header-bg-image.jpg" alt="ips-logo-image">
            <ul class="ips-footer-socialMedia-ul">
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
        <div class="ips-footer-all-columns">
            <div class="ips-footer-column">
                <h1><span class="clr-orange">IPS</span> پرژه های</h1>
                <a href="#">بازسازی و دکراسیون داخلی</a>
                <a href="#">صفر تا صد ساختمان سازی</a>
                <a href="#">نما سازی</a>
            </div>
            <div class="ips-footer-column">
                <h1><span class="clr-orange">IPS</span> زمینه های فعالیت</h1>
                <a href="#">اتاق انتظار</a>
                <a href="#">کافه و رستوران</a>
                <a href="#">منزل</a>
                <a href="#">نما سازی</a>
                <a href="#">جلسات</a>
                <a href="#">محل کار</a>
            </div>
        </div>
    </section>
    <h1 class="all-right-reserved">تمامی حقوق مادی و معنوی این وبسایت برای شرکت مهندس ای پی اس می باشد</h1>
    <h1 class="all-right-reserved">Copyright © 2024 hoseinifinance.com All rights reserved</h1>
</footer>