{% load i18n %}
<section class="search-container" id="search-container">
    <div class="search-box" id="search-box">
        <form method="get" action="{% url 'ips-projects:search-result' %}" class="search-box-form">
            <button class="search-container-closeBtn" id="search-container-closeBtn" type="button">
                <i class="fa fa-window-close"></i>
            </button>
            <textarea rows="3" name="search" placeholder="{% translate 'متن مرطبت با پروژه مورد نظرتون رو بنویسید' %}"></textarea>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</section>


<section class="navbars">
    <nav class="main-navbar" id="main-navbar">
        <a class="ips-logo" href="{% url 'home:home' %}">
            <img src="/static/images/ips-main-logo.jpg" alt="ips-logo">
        </a>
        <ul class="main-navbar-ul">
            <li><a class="main-navbar-ul-a" href="{% url 'about-us:about-us' %}">
                {% if LANGUAGE_BIDI %}<span class="clr-orange">IPS</span> درباره
                {% else %}
                    ABOUT <span class="clr-orange">IPS</span>
                {% endif %}
            </a></li>
            <li><a class="main-navbar-ul-a" href="{% url 'contact-us:contact-us' %}">{% translate 'ارتباط با ما' %}</a></li>
            <li><a class="main-navbar-ul-a" href="{% url 'ips-projects:ips-projects' %}">{% translate 'پروژه ها' %}</a></li>
            <li>
                <div class="services-btn">
                    {% blocktranslate %}خدمات{% endblocktranslate %}
                    <span class="clr-orange"><i class="fa fa-arrow-down"></i></span>
                    <div class="services-content">
                        <a href="{% url 'home:ips-spaces-facade' %}">{% translate 'نما سازی و صفر تا صد ساختمان سازی' %}</a>
                        <a href="{% url 'home:ips-spaces-restaurant' %}">{% translate 'کافه و رستوران' %}</a>
                        <a href="{% url 'home:ips-spaces-home' %}">{% translate 'منزل و ویلا' %}</a>
                        <a href="{% url 'home:ips-spaces-office' %}">{% translate 'اداری' %}</a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="main-navbar-right-side">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="main-navbar-lang-switcher" id="main-navbar-lang-switcher" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" id="main-navbar-lang-switcher-btn" value="Go" hidden="hidden">
            </form>
            <button class="search-btn" id="search-openBtn" type="button"><i class="fa fa-search"></i></button>
        </div>

    </nav>

    <nav class="tablet-mobile-navbar">
        <a class="tablet-mobile-ips-logo" href="{% url 'home:home' %}"><span class="clr-orange">I</span>PS</a>
        <div class="tablet-mobile-navbar-rightSide">

            <div class="main-navbar-right-side">

                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select class="main-navbar-lang-switcher" id="mobile-navbar-lang-switcher" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" id="mobile-navbar-lang-switcher-btn" value="Go" hidden="hidden">
                </form>

                  <button id="tablet-mobile-search-openBtn" type="button">
                    <span class="clr-orange">
                        <i class="fa fa-search"></i>
                    </span>
                </button>

                <button id="tablet-mobile-open-menuBar-btn" type="button"><i class="fa fa-bars"></i></button>
            </div>
        </div>
    </nav>

    <div class="tablet-mobile-menubar-container" id="tablet-mobile-menubar-container">
        <button id="tablet-mobile-close-menuBar-btn" class="tablet-mobile-close-menuBar-btn" type="button">
            <i class="fa fa-window-close"></i>
        </button>
        <div class="tablet-mobile-menubar-box" id="tablet-mobile-menubar-box">
            <ul class="tablet-mobile-menubar-ul" id="tablet-mobile-menubar-ul">
                <div class="tablet-mobile-menubar-logoImg">
                    <a href="{% url 'home:home' %}">
                        <img src="/static/images/ips-main-logo.jpg" alt="ips-logo">
                    </a>
                </div>
                <li>
                    <a class="tablet-mobile-menubar-a" href="{% url 'about-us:about-us' %}"> {% translate 'درباره' %}<span class="clr-orange">IPS</span></a>
                    <i class="fa fa-info"></i>
                </li>
                <li>
                    <a class="tablet-mobile-menubar-a" href="{% url 'contact-us:contact-us' %}">{% translate 'ارتباط با ما' %}</a>
                    <i class="fa fa-handshake-o"></i>
                </li>
                <li>
                    <a class="tablet-mobile-menubar-a" href="{% url 'ips-projects:ips-projects' %}">{% translate 'پروژه ها' %}</a>
                    <i class="fa fa-building"></i>
                </li>
                <li>
                    <div class="services-dropDown-btn" id="services-dropDown-btn">
                        {% blocktranslate %}خدمات{% endblocktranslate %}
                        <i id="dropdown-arrow" class="fa fa-arrow-down"></i>
                        <div class="project-dropdown-services" id="services-dropdown-content">
                            <a href="{% url 'home:ips-spaces-facade' %}">{% translate 'نما سازی و صفر تا صد ساختمان سازی' %}</a>
                            <a href="{% url 'home:ips-spaces-restaurant' %}">{% translate 'کافه و رستوران' %}</a>
                            <a href="{% url 'home:ips-spaces-home' %}">{% translate 'منزل و ویلا' %}</a>
                            <a href="{% url 'home:ips-spaces-office' %}">{% translate 'اداری' %}</a>
                        </div>
                    </div>
                    <i class="fa fa-paperclip" id="fa-paperclip"></i>
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    {% if LANGUAGE_BIDI %}
        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    {% else %}
        * {
            font-family: "Segoe UI", system-ui, sans-serif;
        }
    {% endif %}
</style>