<!DOCTYPE html>
<html lang="en">

{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'جزئیات پروژه' %}</title>
    <link rel="stylesheet" href="/static/Css/services.css">
</head>

<body>


    {% include 'includes/on_loading.html' %}

    {% include 'includes/navbars.html' %}

    <div class="ips-spaces-white-spaces"></div>
    <main class="ips-spaces-main-container">
        <secion class="ips-spacec-details-box">
            <div class="go-to-previous-page">
                <button type="button" onclick="window.history.go(-1); return false;">
                    <i class="fa fa-arrow-left"></i>
                    {% translate 'برو به صفحه قبلی' %}
                </button>
            </div>

            <div class="ips-spaces-title">
                <h1>
                    {{ project.project_title }}
                </h1>
            </div>

            <div class="ips-spaces-image">
                <img src="{{ project.project_main_image.url }}" alt="nema-sazi-image">
            </div>

            <div class="ips-spaces-info">
                <p>
                    {{ project.project_details }}
                </p>
            </div>
        </secion>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% if project.project_img_1 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_1.url }}" alt="image">
                    </div>
                {% endif %}
                {% if project.project_img_2 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_2.url }}" alt="image">
                    </div>
                {% endif %}
                {% if project.project_img_3 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_3.url }}" alt="image">
                    </div>
                {% endif %}
                {% if project.project_img_4 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_4.url }}" alt="image">
                    </div>
                {% endif %}
                {% if project.project_img_5 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_5.url }}" alt="image">
                    </div>
                {% endif %}
                {% if project.project_img_6 %}
                    <div class="swiper-slide">
                        <img src="{{ project.project_img_6.url }}" alt="image">
                    </div>
                {% endif %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </main>

    {% include 'includes/footer.html' %}









    <script src="/static/Js/Swiper/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="/static/Js/navbars.js"></script>
    <script src="/static/Js/services.js"></script>
</body>

</html>