<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه نخست</title>
    <link rel="stylesheet" href="/static/Css/index.css">
</head>

<body>

    {% include 'includes/navbars.html' %}



    <div class="index-white-space" id="opacity100-onload"></div>
    <header class="index-header" id="index-header">
        <section class="index-header-content">
            <h1 class="index-header-title"><span class="clr-orange">IPS</span> شرکت مهندسی</h1>
            <h1 class="index-header-info">
                در زمینه طراحی و مجری پرژه های لوکس ساختمانی با پیش از پانزده سال سابقه درخشان در خدمت خواسته های شما می
                باشد
            </h1>
        </section>
    </header>


    <main class="index-main-content">
        <section class="ips-spaces-container">
            <div class="ips-spaces-h1" id="ips-spaces-h1 opacity100-onload">
                <h1>IPS حیطه کاری</h1>
                <div class="title-border" id="ips-spaces-title-border"></div>
                <div class="title-mini-border" id="ips-spaces-title-mini-border"></div>
            </div>
            <div class="spaces-all-boxes">
                <a href="#">
                    <div class="spaces-box" id="opacity100-onload">
                        <img src="/static/images/1.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            اتاق انتظار
                        </h1>
                        <h4 class="spaces-box-information">
                            راه حل های اصیل، گسترده و امروزی برای تبدیل شدن انتظار به لحظه ای شگفت انگیز.
                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>

                <a href="#">
                    <div class="spaces-box" id="opacity100-onload">
                        <img src="/static/images/2.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            کافه و رستوران
                        </h1>
                        <h4 class="spaces-box-information">
                            منوی هر چه باشد، کلاسیک یا نوآورانه، یا حتی فقط برای یک قهوه، مجموعه ای از محصولات ماژولار
                            که به
                            راحتی فضاها را به اشتراک می گذارند.
                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>

                <a href="#">
                    <div class="spaces-box" id="opacity100-onload">
                        <img src="/static/images/3.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            منزل
                        </h1>
                        <h4 class="spaces-box-information">
                            در راحتی و زیبایی خانه خود، محصولاتی که لذت با هم بودن و آرامش را در عنصر ما منتقل می کنند.

                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>

                <a href="#">
                    <div class="spaces-box" id="opacity100-onload">
                        <img src="/static/images/4.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            نما سازی
                        </h1>
                        <h4 class="spaces-box-information">
                            خطی بودن و سبکی برای آرامش، رفاه و جلسات محاصره شده توسط طبیعت و نزدیک به آب.
                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>

                <a href="#" id="opacity100-onload">
                    <div class="spaces-box">
                        <img src="/static/images/5.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            جلسات
                        </h1>
                        <h4 class="spaces-box-information">
                            یک جلسه موفق با وسایلی شروع می شود که در تمام جزئیات راحت و مفید هستند، حتی پنهان ترین.
                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>

                <a href="#" id="opacity100-onload">
                    <div class="spaces-box">
                        <img src="/static/images/6.jpg" alt="ips-spaces-image">
                        <h1 class="spaces-box-title">
                            محل کار
                        </h1>
                        <h4 class="spaces-box-information">
                            ما انعطاف پذیری کار معاصر را به پروژه ای قابل تشخیص، قدرتمند و سبک تبدیل کرده ایم.

                        </h4>

                        <p class="find-out-more">
                            توضیحات بیشتر
                            <i class="fa fa-arrow-right"></i>
                        </p>
                    </div>
                </a>
            </div>
        </section>



        <section class="index-projects-container">
            <div class="index-projects-h1" id="index-projects-h1">
                <h1>IPS پرژه های</h1>
                <div class="title-border" id="project-title-border"></div>
                <div class="title-mini-border" id="project-title-mini-border"></div>
            </div>

            <div class="index-projects-all-boxes">

                <div class="index-project-box this-mg-right" id="opacity100-onload">
                    <img src="/static/images/1.jpg" alt="project-image">
                    <a href="#" class="index-project-details">
                        مشاهده پرژه ها
                    </a>
                    <h1 class="index-project-title">
                        باسازی و دکراسیون داخلی
                    </h1>
                </div>



                <div class="index-project-box" id="opacity100-onload">
                    <img src="/static/images/2.jpg" alt="project-image">
                    <a href="#" class="index-project-details">
                        مشاهده پرژه ها
                    </a>
                    <h1 class="index-project-title">
                        صفر تا صد ساختمان سازی
                    </h1>
                </div>



                <div class="index-project-box" id="opacity100-onload">
                    <img src="/static/images/3.jpg" alt="project-image">
                    <a href="#" class="index-project-details">
                        مشاهده پرژه ها
                    </a>
                    <h1 class="index-project-title">
                        نما سازی
                    </h1>
                </div>
            </div>
        </section>



        <section class="index-contactUs-contaier" id="opacity100-onload">
            <div class="index-contactUs-Box">
                <div class="index-contactUs-p">
                    <img src="/static/images/orange-arrow.png" alt="orange-arrow">
                    <p>برای مشاوره شماره تماس و نام خودتون رو وارد کنید</p>
                </div>
                <form class="index-contactUs-form">
                    <label>نام و نام خانوادگی</label><br>
                    <input type="text"><br>
                    <label>شماره تماس</label><br>
                    <input type="number"><br>
                    <button type="submit">ثبت</button>
                </form>
            </div>
        </section>
    </main>



    {% include 'includes/footer.html' %}



    <script src="/static/Js/gsap/gsap.min.js"></script>
    <script src="/static/Js/gsap/ScrollTrigger.min.js"></script>
    <script src="/static/Js/navbars.js"></script>
    <script src="/static/Js/index.js"></script>
</body>

</html>