<!DOCTYPE html>
<html lang="en">

{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if LANGUAGE_BIDI %}
        <title>صفحه نخست</title>
    {% else %}
        <title>Home Page</title>
    {% endif %}
    <link rel="stylesheet" href="/static/Css/index.css">
</head>

<body>

    {% include 'includes/navbars.html' %}

    {% if messages %}
        {% for message in messages %}
            <p class="messages-style {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="index-white-space" id="opacity100-onload"></div>
    {% include 'includes/on_loading.html' %}
    <header class="index-header" id="index-header">
        <section class="index-header-content">
            <h1 class="index-header-title"><span class="clr-orange">IPS</span> {% translate 'شرکت مهندسی' %} </h1>
            <h1 class="index-header-info">{% blocktranslate %}در زمینه طراحی و مجری پرژه های لوکس ساختمانی با پیش از بیست و پنج سال سابقه درخشان در خدمات شما باشد{% endblocktranslate %}</h1>
        </section>
    </header>


    <main class="index-main-content">
        <section class="ips-spaces-container">
            <div class="ips-spaces-h1" id="ips-spaces-h1 opacity100-onload">
                <h1>IPS {% translate 'حیطه های کاری' %}</h1>
                <div class="title-border" id="ips-spaces-title-border"></div>
                <div class="title-mini-border" id="ips-spaces-title-mini-border"></div>
            </div>
            <div class="spaces-all-boxes">


                <div class="spaces-box" id="opacity100-onload">
                    <img src="/static/images/nema-sazi.jpg" alt="ips-spaces-image">
                    <h1 class="spaces-box-title">
                        {% translate 'نما سازی و صفر تا صد ساختمان سازی' %}
                    </h1>
                    <h4 class="spaces-box-information">
                        خطی بودن و سبکی برای آرامش، رفاه و جلسات محاصره شده توسط طبیعت و نزدیک به آب.
                    </h4>

                    <a href="{% url 'home:ips-spaces-facade' %}" class="find-out-more">
                        {% translate 'توضیحات بیشتر' %}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>



                <div class="spaces-box" id="opacity100-onload">
                    <img src="/static/images/restaraunt.jpg" alt="ips-spaces-image">
                    <h1 class="spaces-box-title">
                        {% translate 'کافه و رستوران' %}
                    </h1>
                    <h4 class="spaces-box-information">
                        منوی هر چه باشد، کلاسیک یا نوآورانه، یا حتی فقط برای یک قهوه، مجموعه ای از محصولات ماژولار
                        که به
                        راحتی فضاها را به اشتراک می گذارند.
                    </h4>

                    <a href="{% url 'home:ips-spaces-restaurant' %}" class="find-out-more">
                        {% translate 'توضیحات بیشتر' %}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <div class="spaces-box" id="opacity100-onload">
                    <img src="/static/images/home.jpg" alt="ips-spaces-image">
                    <h1 class="spaces-box-title">
                        {% translate 'منزل و ویلا' %}
                    </h1>
                    <h4 class="spaces-box-information">
                        در راحتی و زیبایی خانه خود، محصولاتی که لذت با هم بودن و آرامش را در عنصر ما منتقل می کنند.

                    </h4>

                    <a href="{% url 'home:ips-spaces-home' %}" class="find-out-more">
                        {% translate 'توضیحات بیشتر' %}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>



                <div class="spaces-box" id="opacity100-onload">
                    <img src="/static/images/offic.jpg  " alt="ips-spaces-image">
                    <h1 class="spaces-box-title">
                        {% translate 'محل کار' %}
                    </h1>
                    <h4 class="spaces-box-information">
                        ما انعطاف پذیری کار معاصر را به پروژه ای قابل تشخیص، قدرتمند و سبک تبدیل کرده ایم.
                    </h4>

                    <a href="{% url 'home:ips-spaces-office' %}" class="find-out-more">
                        {% translate 'توضیحات بیشتر' %}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>



        <section class="index-projects-container">
            <div class="index-projects-h1" id="index-projects-h1">
                <h1>IPS {% translate 'پرژه های' %}</h1>
                <div class="title-border" id="project-title-border"></div>
                <div class="title-mini-border" id="project-title-mini-border"></div>
            </div>

            <div class="index-projects-all-boxes">

                <div class="index-project-box this-mg-right" id="opacity100-onload">
                    <img src="/static/images/watting-room.jpg" alt="project-image">
                    <a href="{% url 'ips-projects:ips-projects' %}" class="index-project-details">
                        {% translate 'مشاهده پرژه ها' %}
                    </a>
                    <h1 class="index-project-title">
                        {% translate 'باسازی و دکراسیون داخلی' %}
                    </h1>
                </div>



                <div class="index-project-box" id="opacity100-onload">
                    <img src="/static/images/zero-to-100.jpg" alt="project-image">
                    <a href="{% url 'ips-projects:ips-projects' %}" class="index-project-details">
                        {% translate 'مشاهده پرژه ها' %}
                    </a>
                    <h1 class="index-project-title">
                        {% translate 'صفر تا صد ساختمان سازی' %}
                    </h1>
                </div>



                <div class="index-project-box" id="opacity100-onload">
                    <img src="/static/images/villa.jpg" alt="project-image">
                    <a href="{% url 'ips-projects:ips-projects' %}" class="index-project-details">
                        {% translate 'مشاهده پرژه ها' %}
                    </a>
                    <h1 class="index-project-title">
                        {% translate 'نما سازی' %}
                    </h1>
                </div>
            </div>
        </section>



        <section class="index-contactUs-container" id="opacity100-onload">
            <div class="messages-style" id="messages-style"></div>
            <div class="index-contactUs-Box">
                <div class="index-contactUs-p">
                    <img src="/static/images/orange-arrow.png" alt="orange-arrow">
                    <p>{% blocktranslate %}برای مشاوره و بازدید رایگان شماره تماس و نام خودتون رو وارد کنید{% endblocktranslate%}</p>
                </div>
                <div class="index-contactUs-form">
                    <label>{% translate 'نام و نام خانوادگی' %}</label><br>
                    <input id="contact-name" type="text"><br>
                    <label>{% translate 'شماره تماس' %}</label><br>
                    <input id="contact-number" type="number"><br>
                    <button type="button" id="create-contact">{% translate 'ثبت' %}</button>
                </div>
            </div>
        </section>
    </main>



    {% include 'includes/footer.html' %}



    <script src="/static/Js/gsap/gsap.min.js"></script>
    <script src="/static/Js/gsap/ScrollTrigger.min.js"></script>
    <script src="/static/Js/contact_us.js"></script>
    <script src="/static/Js/navbars.js"></script>
    <script src="/static/Js/index.js"></script>
</body>

</html>