<!DOCTYPE html>
<html lang="en">

{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'حیطه های کاری' %}</title>
    <link rel="stylesheet" href="/static/Css/services.css">
</head>

<body>

    {% include 'includes/on_loading.html' %}

    {% include 'includes/navbars.html' %}

    <div class="ips-spaces-white-spaces"></div>
    <main class="ips-spaces-main-container">
        <secion class="ips-spacec-details-box">
            <div class="go-to-previous-page">
                <button type="button" onclick="window.history.go(-1); return false;">
                    <i class="fa fa-arrow-left"></i>
                    {% translate 'برو به صفحه قبلی' %}
                </button>
            </div>

            <div class="ips-spaces-title">
                <h1>
                    {% translate 'نما سازی و صفر تا صد ساختمان سازی' %}
                </h1>
            </div>

            <div class="ips-spaces-image">
                <img src="/static/images/nema-sazi.jpg" alt="nema-sazi-image">
            </div>

            <div class="ips-spaces-info">
                <p>
                    {% blocktranslate %}
                        طراحی نمای ساختمان بسیار مهم است، زیرا وقتی مردم درباره یک ساختمان نظر می دهند،در مرحله اول این کار را با قضاوت در مورد نما انجام می دهند. با این حال، نما فقط یک چهره زیبا نیست ، بلکه یک عنصر حیاتی از یک ساختمان موفق است که زیبایی و عملکرد آن را تعیین می کند.طراحی و اجرای نمای ساختمان که حدود 20 درصد از هزینه کلی ساخت و ساز را تشکیل می دهد، یک عنصر بالقوه پرخطر در تحویل موفق ساختمان است.در ترکیب با سقف و سایر سیستم‌های محفظه ساختمان، یک رابط مهم برای موفقیت عملکرد کلی ساختمان است.
                    {% endblocktranslate %}
                </p>
            </div>
        </secion>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/static/images/home.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/nema-sazi.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/offic.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/2.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/3.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/4.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="/static/images/5.jpg" alt="image">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>


    </main>

    {% include 'includes/footer.html' %}









    <script src="/static/Js/Swiper/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="/static/Js/navbars.js"></script>
    <script src="/static/Js/services.js"></script>
</body>

</html>